body {
    font-family: 'Brush Script MT', sans-serif;
    background-color: #ebc034;
}

h1 {
    width: 800px;
    text-align: center;
    color: #543d18;
    font-size: 5em;
    background-color: #dec49b;
    margin: 0px auto;
    border-radius: 10px;
}

.recipe-list {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}

.recipe {
    text-decoration: none;
    color: #543d18;
    font-weight: 100;
    background-color: #dec49b;
    width: auto;
    padding: 5px;
    margin: 10px auto;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    font-size: 16px;
}

